<div class="center hero-unit">
  <h1>Sample App</h1>

    <h2>Sample App
      Blablabla
      <a href="www.google.com">I am a Link!</a>
    </h2>

    <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rcsa.jpeg", alt: "rcsa"), 'http://rubyonrails.org/' %>
